 @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
 * {
    font-family: 'Times New Roman', Times, serif;
 }
h1 {
    font-size: 50px;
    font-family: 'Tilt Prism', cursive;
}
.name-highlighter {
    color: orange;
    font-family: 'Tilt Prism', cursive;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 90%;
}